[Unit]
Description=Clsearch UI
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/www/clsearch.org/clsearch-ui/
ExecStart=/home/ubuntu/www/clsearch.org/clsearch-ui/bin/start.sh
StandardOutput=append:/var/log/clsearch-ui.log
StandardError=append:/var/log/clsearch-ui.error.log

[Install]
WantedBy=multi-user.target
