@font-face {
	font-family: 'Work Sans';
	src: url(/fonts/WorkSans-Bold.ttf) format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Work Sans';
	src: url(/fonts/WorkSans-Black.ttf) format('opentype');
	font-weight: 900;
}

@font-face {
	font-family: 'Work Sans';
	src: url(/fonts/WorkSans-Regular.ttf) format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Work Sans';
	src: url(/fonts/WorkSans-Light.ttf) format('opentype');
	font-weight: 300;
}
