html,
body {
	width: 100%;
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: Work Sans, sans-serif;
	font-size: 1.8rem;
	background: url(/images/BG.svg) no-repeat;
	background-color: #0A133F;
}

.home{
	background: none;
	background-color: #0A133F;
}

p {
	margin: 1rem 0;
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: #99AAFF;
}

ul,
ol {
	margin: 1rem;
	padding-left: 1.2rem;
}

h1,
h2 {
	margin: 1.2rem 0;
}

h2{
	font-size: 4.2rem;
	line-height: 4.6rem;
}

a, a:visited{
	text-decoration: none;
	color: #fff;
}

.color-heading{
	font-weight: 900;
	font-size: 2.2rem;
	color: #fff;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, #21A8F3, #C7F5C6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container{
	width: 117rem;
	max-width: 100%;
	margin: 0 auto;
}

.error {
	background-color: #ffb0b0;
	color: #8f0000;
	padding: 1rem 1.2rem;
	border-radius: 0.8rem;
}

.error a {
	color: #8f0000;
}

.success {
	background-color: #b0ffb0;
	color: #008f00;
	padding: 1rem 1.2rem;
	border-radius: 0.8rem;
}

.success a {
	color: #008f00;
}

.tags {
	list-style-type: none;
	padding: 0;
	margin: 1.2rem 0;
}

.tags li {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background-color: red;
	padding: 0.4em 1.2rem;
	color: white;
	border-radius: 2rem;
	margin-right: 1.2rem;
}
.tags button {
	color: white;
	background-color: red;
	border: none;
	padding: 0;
	margin-left: 0.4rem;
	cursor: pointer;
	font-size: 2rem;
}

@media (max-width: 700px) {



	.color-heading{
		font-size: 1.6rem;
		line-height: 1.6rem;
	}

	h1{
		font-size: 4rem;
		line-height: 4rem;
	}
	
	h2{
		font-size: 2.8rem;
		line-height: 3.1rem;
	}

	

	

}


/* @media (min-width: 641px) {
	body {
		max-width: 80%;
		margin: 0 auto;
	}

	.center {
		text-align: left;
	}
}

@media (min-width: 320px) {
	/* smartphones, iPhone, portrait 480x320 phones */
/* } */
/* @media (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* } */
/* @media (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* } */
/* @media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	/* body {
		max-width: 50%;
	}
} */
/* @media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
/* } */
/* @media (min-width: 1281px) {
	/* hi-res laptops and desktops */
/* }  */
